div.imagens_category {
  min-height: 300px;
}


@media (min-width: 576px) { 
  div.imagens_category {
    min-height: 200px;
  }
}

/* md */
@media (min-width: 768px) {  
  div.imagens_category {
    min-height: 200px;
  }
}

/* lg */
@media (min-width: 992px) {  
  div.imagens_category {
    min-height: 200px;
  }
}
