.trending-border-color {
  border-color: #B8C2CE;
}
div.imagens_category {
  min-height: 300px;
}

.right-image-section {
  min-height: 450px;
}

@media (min-width: 576px) { 
  div.imagens_category {
    min-height: 200px;
  }
}

/* md */
@media (min-width: 768px) {  
  div.imagens_category {
    min-height: 200px;
  }
}

/* lg */
@media (min-width: 992px) {  
  div.imagens_category {
    min-height: 200px;
  }
}